
/* ================================================================= */

/* ================================================================= */

/* Reset */
body, h1, h2, h3, h4, h5, h6, dl, ol, ul, p,
button, input, select, textarea {
  margin: 0;
}


html {
  font: 100% serif;
  }

body {
  color: #222;
  background: #fff;
  font-family: "Frank Ruhl Libre",Georgia, serif;
  }


html,
body {
    height: 100%;
  }

/* links / general */

a {
    color: #1171af;
    text-decoration: none;
    }

a:hover,
a:focus {
    text-decoration: underline;
    }


article {
        padding-left: 2em;
        padding-right: 2em;
        max-width: 32em;
}

img,
video {
    max-width: 100%
}

p,
ol,
ul, dl {
    max-width: 32em;
    line-height: 1.5;
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}


time {
    color: #222;
    font-family: "Consolas", "Menlo", "Monaco", "Courier New", Courier, monospace;
    font-size: 0.9rem;
    padding-left: .167em;
}


h1 {
    font-size: 2.9em;
    font-weight: 900;
    margin-top: 0.4em;
}
h2 {
    font-size: 2.1em;
    font-weight: 900;
    margin-top: 0.4em;
}
h3 {
    font-size: 1.9em;
    font-weight: 900;
    margin-top: 0.4em;
}

h4 {
    font-size: 1.7em;
    font-weight: 700;
    margin-top: 0.8em;
}


small {
    font-size: 0.7em;
}

#brand {
    /*background-color: #00a2de;*/
    background-color: #ddd;
}

footer {
    background-color: #ddd;
    color: #959595;
    padding-left: 2em;
    padding-right: 2em;
}

.logo {
  padding-top: 0.3em;
  padding-left: 2em;
  }

.logo img {
  max-width: 11em;
  }

.title {
padding-top: 1em;
line-height: 1.0;
padding-bottom: 1em;
}

.post_listitem time,
.post_listitem dd,
.post_listitem dt,
.post_listitem dl
{
  margin: 0;
  }

.post_listitem {
    line-height: 1.2;
    padding-bottom: 2em;
}

.post_subtitle {
    font-size: 1em;
    padding-top: 0em;
}

.post_title {
    font-weight: 900;
    font-size: 1.6em;
    line-height: 1.0;
}


@media (min-width: 48em) {
    .logo {
      padding-top: 0.3em;
      padding-left: 8em;
      }

    .logo img {
      max-width: 20em;
      }

    article {
        padding-top: 1em;
        padding-bottom: 4em;
        padding-left: 8em;
        padding-right: 8em;
        max-width: 40em;
    }

    p,
    ul,
    ol, dl {
        font-size: 1.4rem;
        padding-top: .3em;
    }

    h1 {
        font-size: 4.1em;
        font-weight: 900;
        margin-top: 0.3em;
    }
    h2 {
        font-size: 2.3em;
        font-weight: 900;
        margin-top: 0.6em;
    }
    h3 {
        font-size: 1.9em;
        font-weight: 900;
        margin-top: 0.5em;
    }

    h4 {
        font-size: 1.7em;
        font-weight: 700;
        margin-top: 0.8em;
    }
  }
